

:host ::ng-deep .p-dialog .p-dialog-header-icon{
    pointer-events: none !important;
    opacity: 0;
    
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .center-text {
    text-align: center;
  }
  
  



// .firstColumn{
//     margin-left: 20px;
// }

// .secondColumn{
//     margin-left: 40px;
// }

// .thirdColumn{
//     margin-left: 60px;
// }
