
<p-dialog id="dialog1" [(visible)]="chequeDialog"  [draggable]="false" [resizable]="false" [style]="{ width: '1000px',height: '2000px' , right: '440px' }"   [modal]="true" styleClass="p-fluid dialog-container" [closeOnEscape]="false">
    
  
  
    <ng-template pTemplate="content">

    

      <div class="centered-content">
      <p-card-header styleClass="p-fluid dialog-container">

        <img *ngIf="cheque.certifie === 'YES'" src="assets/images/certified.png" alt="Diploma" style="width:50px; height:50px;" class="move-right">
        <img *ngIf="cheque.certifie === 'NO'" src="assets/images/uncertified.png" alt="Diploma" style="width:60px; height:60px;" class="move-right">
   

        <p-divider align="center"><div class="inline-flex align-items-center"><b>ID</b></div></p-divider>
        <input class="center-text" type="text" pInputText id="{{cheque.id}}" [(ngModel)]="cheque.id" style="width:300px" readonly />
        <small class="p-error" *ngIf="submitted && !cheque.id">ID is required.</small>

      
        <p-divider align="center"><div class="inline-flex align-items-center"><b>CMC</b></div></p-divider>     
        <input class="center-text" type="text" pInputText id="{{cheque.cmc7}}" [(ngModel)]="cheque.cmc7" style="width:300px" readonly />

     
        <p-divider align="center"><div class="inline-flex align-items-center"><b>Compte</b></div></p-divider>     
        <input class="center-text" type="text" pInputText id="{{cheque.ribTireur}}" [(ngModel)]="cheque.ribTireur" style="width:300px" readonly />
     
      
      </p-card-header>
       </div>
    


     

        
      
      <p-card class="shadow-5" [header]="cardTitle"  [style]="{ width: '950px' }" >
       
       
   
      <p-card-header>
        
        <p-divider align="left"><div class="inline-flex align-items-center"><b>VisDeForme</b></div></p-divider>  
        <p-multiSelect 
          id="visDeForme"
          [options]="decisionReasons['visDeForme'] | keyvalue" 
          [(ngModel)]="cheque.visDeForme"
          optionLabel="value"
          optionValue="key"
        ></p-multiSelect>


      

        <p-divider align="left"><div class="inline-flex align-items-center"><b>Inexploitable</b></div></p-divider>  
        <p-multiSelect 
          id="inexploitable"
          [options]="decisionReasons['inexploitable'] | keyvalue" 
          [(ngModel)]="cheque.visDeForme"
          optionLabel="value"
          optionValue="key"
        ></p-multiSelect>


      </p-card-header>
     
    

    
      <p-card-body>
      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
            <p-divider align="left"><div class="inline-flex align-items-center"><b>Numéro de Cheque</b></div></p-divider>
            <input type="text" pInputText id="{{cheque.numChq}}" [(ngModel)]="cheque.numChq" readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
            <p-divider align="left"><div class="inline-flex align-items-center"><b>Montant</b></div></p-divider>
            <input type="text" pInputText id="mntCheque" [(ngModel)]="formattedMntCheque" readonly />   
        </div> 
        </div>
        
      </div>

      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Nom Benef</b></div></p-divider>  
          <input type="text" pInputText id="{{cheque.nomBenef}}" [(ngModel)]="cheque.nomBenef" readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Rib Benef</b></div></p-divider>  
          <input type="text" pInputText id="{{cheque.ribBenef}}" [(ngModel)]="cheque.ribBenef" readonly />
        </div> 
        </div>
        
      </div>

      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>NumCompte</b></div></p-divider>   
          <input class="secondColumn" type="text" pInputText id="{{cheque.numCpt}}"[(ngModel)]="cheque.numCpt"  readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Code Val</b></div></p-divider>
          <input class="secondColumn" type="text" pInputText id="{{cheque.codeVal}}" [(ngModel)]="cheque.codeVal" readonly />
        </div> 
        </div>
        
      </div>

      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Date Emission</b></div></p-divider>
          <input class="thirdColumn" type="text" pInputText id="{{cheque.dateEmission}}"[(ngModel)]="cheque.dateEmission" readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Nature Cmpt</b></div></p-divider>
          <input class="secondColumn" type="text" pInputText id="{{cheque.natureCmpt}}"[(ngModel)]="cheque.natureCmpt" readonly />
        </div> 
        </div>
        
      </div>

      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Agence</b></div></p-divider>
          <input class="secondColumn" type="text" pInputText id="{{cheque.agence}}"[(ngModel)]="cheque.agence" readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Status</b></div></p-divider>
          <input class="secondColumn" type="text" pInputText  id="{{cheque.statut}}"[(ngModel)]="cheque.statut" readonly />
        </div> 
        </div>
        
      </div>


      <div class="grid">

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Code Remettant</b></div></p-divider>
          <input class="thirdColumn" type="text" pInputText id="{{cheque.codeRemettant}}" [(ngModel)]="cheque.codeRemettant" readonly />
        </div>
        </div>

        <div class="col-2"><p-divider layout="vertical"></p-divider></div>

        <div class="col-5">
        <div class="p-fluid">
          <p-divider align="left"><div class="inline-flex align-items-center"><b>Situation Benef</b></div></p-divider>
            <input class="thirdColumn" type="text" pInputText id="{{cheque.situationBenef}}"[(ngModel)]="cheque.situationBenef" readonly />
        </div> 
        </div>
        
      </div>


          
          
          
          </p-card-body>
          
      

          <p-card-footer>


           
 
          </p-card-footer>

     
      </p-card>    
    
       

      <div class="dialog-section">
     
    </div>
    
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog(cheque)"></button>
        <!-- <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button> -->
        <p-button (click)="toggleDialog2(cheque)" icon="pi pi-external-link" label="Show" [style]="{ width: '100px' }"></p-button>
    </ng-template>



        
       


</p-dialog>


<p-confirmDialog [style]="{ width: '800px' }"></p-confirmDialog>


<p-dialog [draggable]="false" [resizable]="false" id="dialog2" header="ImageView" [(visible)]="chequeDialog2" [style]="{ width: '940px', height: '999px', left: '530px' }" styleClass="p-fluid dialog-container" [closeOnEscape]="false">
    <ng-template pTemplate="content">
      <div class="centered-content">
        <p-card class="cd" [header]="cardTitle"  [style]="{ width: '800px'}">

        <div *ngFor="let path of signaturePaths">
          <div class="card flex justify-content-center">
            <p-image [src]="getSafeUrl(path)" alt="Signature Image" width="600"></p-image>
          </div>
          <div class="card flex justify-content-center">
          <p-image [src]="getSafeUrl('http://localhost:3000/images/' + cheque.dateImgNew + '/' + cheque.cmc7 + '_recto.jpg')" alt="Recto Image" width="600"></p-image>
          </div>
        </div>

   
        <div class="card flex justify-content-center">
        
          <p-image [src]="getSafeUrl('http://localhost:3000/images/' + cheque.dateImgNew + '/' + cheque.cmc7 + '_verso.jpg')" alt="Verso Image" width="600"></p-image>
        </div>


        


       
       </p-card>
      </div>
    </ng-template>
  </p-dialog>
  
  

